html, body, #scene-area {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.esri-attribution {
    display: none;
}

#topbar {
    background: #000;
}

.action-button {
    font-size: 16px;
    background-color: transparent;
    border: 0;
    color: #9f9f9f;
    height: 32px;
    width: 32px;
    text-align: center;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.action-button:hover, .action-button:focus {
    background: #0079c1;
    color: #ededed;
}

.active {
    background: #0079c1;
    color: #efefef;
}


#bottombar {
    background-color: #000000aa;
    color: #d1d1d1;
    font-size: 14px;
    padding: 6px;
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.padLR {
    padding: 0px 6px;
}

.bold {
    color: white;
    font-weight: bold;
}
.dim {
    color: grey;
    font-style: italic;
}

.right {
    text-align: right;
}
.center {
    text-align: center;
}
.btn {
    border: none;
    text-align: center;
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 2px;
}
.btn-disabled {
    background-color: #000000bb;
    color: grey;
}
.btn-enabled {
    background-color: #005e94;
    color: white;
}
.btn:hover:enabled {
    background-color: #0079c1;
    color: white;
}
.btn-active {
    background-color: #009220;
    color: white;
}
#clipboardBtn {
    width: 100%;
}