body {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
.table td {
    padding: 0.6rem 1.5rem
}

#map {
    height: 100%;
    width: 100%;
    z-index: 44
}

.leaflet-container {
    background: #222;
}

.leaflet-control-zoom a {
    color: white !important;
    background: rgba(0, 0, 0, 0.5) !important;
    transition: all 0.5s ease;
}
.leaflet-control-zoom a:hover {
    color: white !important;
    background: rgba(0, 0, 0, 0.9) !important;
}
.leaflet-control-attribution {
    color: lightgrey !important;
    background: rgba(0, 0, 0, 0.5) !important;
}
.leaflet-control-attribution > a {
    color: skyblue !important;
}
.deselected-icon {
    background-color: #bbb;
    opacity: 80%;
    border-radius: 50%;
}
.selected-icon {
    background-color: #d4ca1b;
    opacity: 80%;
    border-radius: 50%;
}

.leaflet-tooltip {
    background-color: rgba(0,0,0,0.5);
    border: 0px;
    color: white;
    box-shadow: none;
    margin: 0px 6px;
    padding: 0px 6px;
}
.leaflet-tooltip-left, .leaflet-tooltip-left:before {
    margin-left: -12px;
    border-left-color: rgba(0,0,0,0.5)
}
.leaflet-tooltip-right, .leaflet-tooltip-right:before {
    margin-right: -12px;
    border-right-color: rgba(0,0,0,0.5)
}
.selected-tooltip {
    background-color: rgba(150,149,0,0.5);
}